.login-or {
  font-size: 0.9rem;
  color: #aaa;
  position: relative;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.hr-or {
  height: 1rem;
  color: #cdcdcd;
  margin-top: 0;
  margin-bottom: 0;
}

.span-or {
  display: inline-block;
  position: absolute;
  width: 3rem;
  background-color: #fff;
  top: 1px;
  left: 156px;
}

.social-icons {
  width: 7.5rem;
  margin: 1rem auto;
  display: flex;
  font-size: 2rem;
  justify-content: space-between;
}
.fa-facebook-square {
  color: #4267b2;
}
.fa-twitter-square {
  color: #1da1f2;
}
.fa-google-plus-square {
  color: #db4437;
}
.card-title {
  margin-bottom: 1.75rem !important;
}
.form-control {
  margin-bottom: 0.75rem;
}
.links-form {
  margin-bottom: 1.5rem !important;
}
.btn-primary {
  background-color: #ff365e !important;
  border: #ff365e !important;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}
