.login-or {
  font-size: 0.9rem;
  color: #aaa;
  position: relative;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.hr-or {
  height: 1rem;
  color: #cdcdcd;
  margin-top: 0;
  margin-bottom: 0;
}

.span-or {
  display: inline-block;
  position: absolute;
  width: 3rem;
  background-color: #fff;
  top: 1px;
  left: 170px;
}
