.dashboard-header {
  /* width: 60rem;
    margin: 2rem auto; */
  /* color: #2a2b3d;; */

  /* padding-top: 1rem; */
}

.graphs {
  display: flex;
  height: 13rem;
  width: 100%;
  background-color: blue;
  margin: 3rem 0;
}

.first-graph {
  width: 60%;
}

.first-metric,
.second-metric,
.third-metric {
  width: 30%;
}
.metrics {
  display: flex;
  height: 12rem;
  width: 100%;
  background-color: blue;
  margin-bottom: 3rem;
}
