.footer-items {
  display: inline-flex;
  justify-content: space-between;
  margin: 0;
  width: 100%;
  padding: 5rem 2rem 3rem 2rem;
}

li {
  list-style-type: none;
}

.footer-content {
  background-color: #343a40;
  color: white;
}
